<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="UserMapper">

    <resultMap id="userResultMap" type="com.example.combine.admin.user.vo.UserVo">
        <result property="userId" column="user_id"/>
        <result property="password" column="password"/>
        <collection property="role" javaType="arrayList" columnPrefix="r_" resultMap="userRoleResultMap"/>
    </resultMap>
    <resultMap id="userRoleResultMap" type="string" extends="userResultMap">
        <result property="role" column="role"/>
    </resultMap>


    <select id="selectUserById" parameterType="string" resultMap="userResultMap">
        select t1.user_id
             , t1.password
             , t1.crt_time
             , t1.udt_time
             , t2.role AS r_role
          from users t1
          left join roles_users_mapping t2 on t1.user_id = t2.user_id
         where 1 = 1
           and t1.user_id = #{userId}
    </select>
    <insert id="insertUser" parameterType="com.example.combine.admin.user.vo.UserVo">
        insert into users (
                           user_id
                         , password
        ) values (
                           #{userId}
                         , #{password}
        )
    </insert>
    <insert id="insertRole" parameterType="hashmap">
        insert into roles_url_mapping (
                            user_id
                          , role
        ) values (
                  #{userId}
                , #{role}
        )
    </insert>


</mapper>